<form action="/quotes" method="get">
	<label for='search_length'>Length</label>
  	<input type="text" id='search_length' name="length">
  	<label for='search_num'>Number</label>
	<input type="text" id="search_num" name="num">
  	<input type="submit" value="search">
</form>